p.google img{
	display: block;
	margin: auto;
	width: 50%;
}

table.soft_rank{
	margin: auto;
	counter-reset: ranking;
}
table.soft_rank tbody th:before{
	counter-increment: ranking;
	content: counter(ranking) "位";
}
table {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
}
th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}
.soft_rank tr:hover
{
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
