{% load staticfiles %}
<html>

<head>
	<title>Twitter Test</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{% static 'css/test.css' %}" type="text/css">
	<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="//fonts.googleapis.com/earlyaccess/notosansjapanese.css">
</head>

<body>
	<div id="tweet">
		<p>
			<ul>
				{% for message in messagelist %}
				<li>
					{{message | urlize | linebreaksbr }}
				</li>
				{% endfor %}
			</ul>
		</p>
	</div>
</body>

</html>
