{% load staticfiles %}
<html>

<head>
	<title>Twitter Test</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{% static 'css/test.css' %}" type="text/css">
	<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="//fonts.googleapis.com/earlyaccess/notosansjapanese.css">
</head>

<body>
	<div id="tweet">
		<p>
			<ul>
				{% for tw, scr_name, tw_id in tw_1 %}
				<li>
					<a href="http://twitter.com/{{scr_name}}">{{scr_name}}</a> <a href='https://twitter.com/{{scr_name}}/status/{{tw_id}}'>{{tw | urlize | linebreaksbr }}</a>
				</li>
				{% endfor %}
			</ul>
		</p>
	</div>
	<a href="{{test}}">?</a>
</body>

</html>
