{% load staticfiles %}
<html>

<head>
	<title>Twitter Test</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{% static 'css/test.css' %}" type="text/css">
	<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="//fonts.googleapis.com/earlyaccess/notosansjapanese.css">
</head>

<body>
	<div id="tweet">
		<p>
			<table class="soft_rank">
				<thead>
					<th>No.</th>
					<th>名前</th>
					<th>回数</th>
				</thead>
				<tbody>
					{% for s,i in freq %}
						<tr>
							<th></th>
							<td>{{s}}</td>
							<td>{{i}}</td>
						</tr>
					{% endfor %}
				</tbody>

			</table>


			</ul>
		</p>

	</div>
</body>

</html>
